/************ BASE.HTML *************/
.masthead {
    background-color: forestgreen;
}
.starbex {
    color: white;
    font-size: 30px;
    margin: 20px;
    padding: 0;
    height: auto;
    font-family: 'Indie Flower', cursive;
}
.starbex:hover {
    color: rgba(255,255,255,0.7);
}
a.options {
    color: rgba(255,255,255,0.7);
}
body {
    padding-top: 106px !important;
}
.header1 {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    font-size: 25px;
    padding-right: 10px;
    padding-left: 10px;
}
.header1>div>a {
    color: rgba(255,255,255,0.4);
}
.header1>div>a:hover {
    color: rgba(255,255,255,0.8);
}
.nav.nav-pills.pull-left, .nav.nav-pills.pull-right {
    margin-top: 20px;
}
@media (max-width: 600px) {
  .nav.nav-pills.pull-left>li, .nav.nav-pills.pull-right>li, .nav.nav-pills.pull-right, .nav.nav-pills.pull-left {
      width: 100%;
      text-align: center;
  }
}
@media (min-width: 600px) {
  .collapse.navbar-collapse {
     padding-right: 5px;
  }
}

@media (max-width: 860px) {
  .glyphicon-user,.glyphicon-log-in {
      display: none;
  }
}
.mobile-nav {
    margin-top: 17px;
}
h2 {
    color: #333;
}
/************ HOME *************/
.carousel-inner, #myCarousel {
    height: 400px;
}
/************ ABOUT *************/
img.members {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    border: thick forestgreen solid;
}
.about-members {
    margin-top: 30px;
}
.about-members>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/************ PRICES *************/
.Price-img {
    background: url('../../media/images/Coffee1.jpg') no-repeat;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
@media (max-width: 600px) {
  .Price-img,.Blog-img,.Forum-img,.Buy-img {
     height: 250px !important;
  }
}
.Price-img>h2, .Buy-img>h2, .Blog-img>h2, .Forum-img>h2 {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
    width: 80%;
    background-color: rgba(34,138,34,0.7);
}
@media (max-width: 600px) {
  .Price-img>h2 {
     font-size: 60px;
  }
}

/************ PURCHASES *************/
.Buy-img {
    background: url('../../media/images/Coffee3.jpg') no-repeat;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
@media (max-width: 600px) {
  .Buy-img>h2 {
     font-size: 60px;
  }
}
@media (max-width: 321px) {
  .Buy-img>h2, .Forum-img>h2 {
     font-size: 50px;
  }
}
@media (max-width: 450px) {
  .Subscribe-paypal>form>input {
     width: 100px;
  }
}
.Subscribe-paypal {
    display: flex;
    justify-content: center;
}
@media (max-width: 450px) {
  .Coffee-description {
     display: none;
  }
}
.Subscribe-label {
    text-align: center !important;
}
/************ BLOG *************/
.Blog-img {
    background: url('../../media/images/Coffee3.jpg') no-repeat;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
.btn {
    background-color: forestgreen;
    background-image: none;
    color: white;
    border: none;
}
.btn:hover {
    background-color: rgba(34, 139, 34, 0.7);
}
/************ FORUM *************/
.Forum-img {
    background: url('../../media/images/Coffee2.jpg') no-repeat;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
.subject {
    text-align: center;
}
.subject-name>a {
    color: white;
    font-family: 'Indie Flower', cursive;
    width: 40%;
    background-color: rgba(34,138,34,0.6);
    padding-left: 5%;
    padding-right: 5%;
}
.subject-name>a:hover {
    color: white;
    background-color: rgba(34,138,34,0.9);
}
.jumbotron {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0px !important;
    background-size: cover;
    background-position: 0% 50%;
    padding-bottom: 30px !important;
    background: url('../../media/images/Coffee7.jpg') no-repeat;

}
.jumbotron>h1 {
    color: white;
    font-family: 'Indie Flower', cursive;
    width: 80%;
    text-align: center;
    background-color: rgba(34,138,34,0.7);
}
.forum-thread>section>header>table>tbody>tr>td>a>h4 {
    color: #333333;
}
.forum-thread {
    text-align: center;
}
.forum-thread>section>header>table {
    width: 100%;
}
.thread-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.progress-bar-info {
    background-color: forestgreen;
}
.poll {
    width: 100%;
    padding-top: 10px;
}
@media (max-width: 600px) {
  .poll {
     padding-top: 40px;
  }
}
.poll-title {
    margin: 0 0 5px 0;
}
.thread-image {
    color: white;
    font-family: 'Indie Flower', cursive;
    background: url('../../media/images/User.jpg') no-repeat;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    border-radius: 100%;
}
@media (max-width: 600px) {
  .thread-image {
     margin: 0 auto;
  }
}
.thread-image>div>p {
    margin: 0;
}
.posts {
    padding-top: 20px;
}
@media (max-width: 600px) {
  .posts {
     text-align: center;
  }
}
.poll>div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.align-center {
    text-align: center;
}
.thread-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
.thread-btn>a {
    margin: 5px;
}
/************ CONTACT *************/
.time {
    text-align: right;
}
.contact-details>tbody>tr>td {
    border: none;
}
@media (max-width: 321px) {
  iframe {
     height: 300px;
  }
}
/************ PROFILE *************/
.Profile-img {
    background: url('../../media/images/Coffee4.jpg') no-repeat;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}
@media (max-width: 600px) {
  .Profile-img {
     height: 300px;
  }
}
.Profile-img>h2 {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
    width: 80%;
    background-color: rgba(139, 69, 19, 0.6);
}
@media (max-width: 600px) {
  .Profile-img>h2 {
     font-size: 50px;
  }
}
@media (max-width: 321px) {
  .Profile-img>h2 {
     font-size: 42px;
  }
}
@media (max-width: 321px) {
  .Profile-img {
     height: 280px;
  }
}
.topup-btn {
    background-color: rgba(139, 69, 19, 0.6);
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    margin-bottom: 20px;
}
.topup-btn:hover {
    background-color: rgba(139, 69, 19, 0.9);
}
.num-coffees {
    background: url('../../media/images/Coffee12.jpg') no-repeat;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: 43% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
}
.num-coffees>div {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
}
.Coffees-left {
    text-align: center;
}
.Profile-info {
    text-align: center;
}
.alert-success {
    margin: 0 0 0 15px;
    width: 100%;
    border-radius: 0;
}
/************ LOGIN *************/

/************ LOGOUT *************/

/************ REGISTER *************/
