{% extends "base.html" %}
{% load coffee_extras %}
{% block content %}

    <div class="Buy-img">
        <h2>Purchase</h2>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th class="Coffee-description">Description</th>
                <th>Price</th>
                <th class="Subscribe-label">Subscribe</th>
            </tr>
        </thead>
        <tbody>
            {% for coffee in coffees %}
                <tr>
                    <td>{{ coffee.name }}</td>
                    <td class="Coffee-description">{{ coffee.description }}</td>
                    <td>£{{ coffee.price }}</td>
                    <td class="Subscribe-paypal">{% paypal_form_for coffee user %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
