{% extends "base.html" %}
{% block content %}

    <div class="Profile-img">
            <div class="Coffees-left">
                <div class="num-coffees">
                    {% if subscription_valid == True %}
                    <div>{{ coffees_left }}</div>
                    {% endif %}
                    {% if subscription_valid == False %}
                    <div>0</div>
                    {% endif %}
                </div>
            </div>
            <h2>Star-{{ user.first_name }}</h2>
        </div>

    <div class="col-sm-2"></div>
    <div class="Profile-info col-sm-8">
        <h2>Welcome</h2>
        <p>You are logged in as {{ user.email }} </p>
        <p>Welcome {{ user.first_name }} {{ user.last_name }} to your Starbex profile</p>

        {% if subscription_valid == True %}
        <h2>Current subscription - {{ name }}</h2>
            <p><i class="glyphicon glyphicon-star"></i>  <b>Renews on {{ end_date }}</b></p>
            <p><i class="glyphicon glyphicon-star"></i> <b>{{ coffees_left }} Coffees left until renewal date</b></p>
        {% endif %}
        {% if subscription_valid == False %}
        <h2>You aren't currently subscribed - click below to shop</h2>
        {% endif %}
        <a href="/coffees/" class="btn btn-primary topup-btn">Top up your coffees</a>

        <p>Come visit soon, We can't wait to see you!</p>
    </div>

    <div class="col-sm-2"></div>
{% endblock %}
