{% extends "base.html" %}
{% load thread_extras %}
{% block content %}

    <div class="Forum-img">
        <h2>Forum</h2>
    </div>

   {% load bootstrap_tags %}
   {% for subject in subjects %}
       <section class="subject">
           <h2 class="subject-name"><a href="{% url "threads" subject.id %}">{{ subject.name }}</a></h2>
           <p>
               <a href="{% url "threads" subject.id %}">
                   {% autoescape off %}{{ subject.description }}{% endautoescape %}
               </a>
           </p>
           <p>
               <b>Threads</b> {{ subject.threads.count }} |
               <b>Posts</b> {{ subject|get_total_subject_posts }}
           </p>
       </section>
   {% endfor %}
{% endblock %}
