{% extends "base.html" %}
{% load thread_extras %}
{% block content %}

    <div class="Forum-img">
        <h2>Forum</h2>
    </div>
<br>
<p class="text-center">
    Welcome to the forum page where all you questions will be answered.
    Create new threads, comment and even answer polls.
    ...go on, start exploring!
</p>

<form method="get" action="/results/" class="navbar-form text-center blogsearch">
    <i class="glyphicon glyphicon-search"></i>
    <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder=" Search Here...">
 </form>

   {% load bootstrap_tags %}
   {% for subject in subjects %}
<hr>
       <section class="subject">
           <h2 class="subject-name"><a class="backforum-btn" href="{% url "threads" subject.id %}">{{ subject.name }}</a></h2>
           <div class="box"><iframe class="iframe-box" src="{% url "threads" subject.id %}"></iframe></div>
           <p>
               <a href="{% url "threads" subject.id %}">
                   {% autoescape off %}{{ subject.description }}{% endautoescape %}
               </a>
           </p>
           <p>
               <b>Threads</b> {{ subject.threads.count }} |
               <b>Posts</b> {{ subject|get_total_subject_posts }}
           </p>
       </section>
   {% endfor %}
{% endblock %}
