{% extends "base.html" %}
{% load thread_extras %}
{% block content %}
    <!-- Threads Title -->
    <div class="row header">
        <div class="jumbotron"><h1>{{ subject.name }}</h1></div>
    </div>

    <!-- Threads Content -->
    <div class="thread-content">
        <p><a href="/forum/"><b>Forum</b></a> | <b>Subject:</b> {{ subject.name }}</p>

        <table class="table table-striped">
            <tbody>

            <!-- If no matching subject names then inform User -->
            {% if not threads %}
                <h2>Sorry, No Matches!</h2>
                <p class="text-center">Go back and search again with the drop down options</p>
            {% endif %}

            <!-- List of matching threads in matching subject name -->
            {% for thread in threads %}
                <tr>
                    <td class="forum-thread">{% include "forum/thread_item.html" %}
                        <p><b>Created:</b>
                            <time datetime="{{ thread.created_at }}">
                                {{ thread.created_at|started_time }}
                            </time>
                        </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>

            <!-- Back Button to forum page -->
            <a href="/forum/" class="btn btn-primary backforum-btn">Back</a>
            <!-- If logged in then New Thread Button (taking user to thread form) -->
            {% if user.is_authenticated %}
                <a href="{% url 'new_thread' subject.id %}" class="btn btn-primary">New Thread</a>
            {% endif %}
        </p>
    </div>
{% endblock %}
