{% extends "base.html" %}
{% load thread_extras %}
{% load staticfiles %}
{% block content %}

 <div class="row header">

 <div class="row header forum-header">
   <div class="jumbotron"><h1>{{ thread.name }}</h1></div>
     <div class="thread-content">
         <div class="box">
             <iframe class="iframe-box" src="{% url 'threads' thread.subject.id %}"></iframe>
         </div>
    </div>
 </div>

    <p class="align-center"><a href="/forum/"><b>Forum</b></a> |
        <a href="{% url 'threads' thread.subject.id %}"><b>Subject: </b>{{ thread.subject.name }} </a>|
        <b>Thread:</b> {{ thread.name }}</p>
    <hr>
     <div class="col-md-7 posts">
         {% for post in thread.posts.all %}
             {% include "forum/post.html" %}
           {% endfor %}

     </div>

    <div class="col-md-5">
        {% if thread.poll %}
           <div class="poll">
               <div>
                   <h2 class="poll-title">{{ thread.poll.question }}</h2>


                   <p>Here’s how the votes are so far:</p>
                 {% for subject in thread.poll.subjects.all %}
                       <div class="col-md-10">
                           <strong>{{ subject.name }}</strong>
                           <span class="pull-right">{{ subject|vote_percentage }}%</span>
                       </div>
                       {% user_vote_button thread subject user %}
                    <div class="col-md-10">
                     <div class="progress">
                       <div class="progress-bar progress-bar-info" role="progressbar"
                        aria-value="{{ subject|vote_percentage }}" aria-valuemin="0"
                        aria-valuemax="100" style="width:{{ subject|vote_percentage }}%;">
                       </div>
                     </div>
                    </div>
                  {% endfor %}
               </div>
           </div>
       {% endif %}
    </div>

        <p class="thread-btn">
            <a href="{% url 'threads' thread.subject.id %}" class="btn btn-primary backforum-btn">Back</a>
            {% if user.is_authenticated %}
            <a href="{% url 'new_post' thread.id %}" class="btn btn-primary">New post</a>
            {% endif %}
        </p>


    </div>
   <table class="table table-hover">
             <tbody>
             <tr>
                 <th class="align-center">
                   CREATED
                 </th>
                 <th class="align-center">OWNER</th>
                 <th class="align-center">LAST POST</th>
             </tr>
             <tr class="align-center">
                 <td>
                   <time datetime="{{ thread.created_at }}">
                    {{ thread.created_at|started_time }}
                   </time>
                 </td>
                 <td>{{ thread.user.first_name }} {{ thread.user.last_name }}</td>
                 <td>{% for post in thread.posts.all %}
                    {% last_posted_user_name thread %}
                    {% endfor %}</td>
             </tr>
           </tbody>
         </table>
{% endblock %}
