{% extends "base.html" %}
{% load thread_extras %}
{% block content %}
 <div class="row header">
   <div class="jumbotron"><h1>{{ subject.name }}</h1></div>
 </div>

 <div class="thread-content">
    <p><a href="/forum/"><b>Forum</b></a> | <b>Subject:</b> {{ subject.name }}</p>

 <table class="table table-striped">
        <tbody>
            {% for thread in subject.threads.all %}
                <tr>
                    <td class="forum-thread">{% include "forum/thread_item.html" %}
                        <p><b>Created:</b>
                            <time datetime="{{ thread.created_at }}">
                                {{ thread.created_at|started_time }}
                            </time>
                        </p></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="/forum/" class="btn btn-primary backforum-btn">Back</a>
        {% if user.is_authenticated %}
       <a href="{% url 'new_thread' subject.id %}" class="btn btn-primary">New Thread</a>
        {% endif %}
    </p>
 </div>
{% endblock %}
